<div class="my-12">
    <h2 [class.!text-red-700]="registerForm.invalid && registerForm.touched" class="text-4xl text-green-500 font-thin">Register Form</h2>


    <!-- email -->
    <form (ngSubmit)="submitForm()" [formGroup]="registerForm" class=" mx-auto my-10">
        <div class="relative z-0 w-full mb-5 group">
            <input title="email" [class.!border-b-red-700]="emailController?.touched && emailController?.errors" formControlName="email" type="email" [name]="'floating_'+'email'" [id]="'floating_'+'email'"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer"
                placeholder=" " required />
            <label [class.!text-red-700]="emailController?.touched && emailController?.errors" aria-label="email" [for]="'floating_'+'email'"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                <span class="capitalize">Email :</span></label>
        </div>
        <!-- check validation -->
        @if(emailController?.touched && emailController?.errors){
        <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
            role="alert">
            @if(emailController?.getError('required')){
            <p>Email is required</p>
            }
            @if(emailController?.getError('email')){
            <p>Email must be valid</p>
            }
        </div>
        }

        <!-- name -->
        <div class="relative z-0 w-full mb-5 group">
            <input title="name" type="text" formControlName="name" [name]="'floating_'+'name'" [id]="'floating_'+'name'"
                [class.!border-b-red-700]="nameController?.touched && nameController?.errors"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer"
                placeholder=" " required />
            <label [class.!text-red-700]="nameController?.touched && nameController?.errors" aria-label="name"
                [for]="'floating_'+'name'"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                <span class="capitalize">Name :</span></label>
        </div>
        @if(nameController?.touched && nameController?.errors){
        <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
            role="alert">
            @if(nameController?.getError('required')){
            <p>Name is required</p>
            }
            @if(nameController?.getError('name')){
            <p>Name must be valid</p>
            }
            @if (nameController?.getError('minLength') && nameController?.getError('maxLength')) {
            <p>Name must have at Least 7 charcter & almost 12 charcter</p>
            }
        </div>
        }
        <!-- password -->
        <div class="relative z-0 w-full mb-5 group">
            <input title="password" [class.!border-b-red-700]="passwordController?.touched && passwordController?.errors" type="password" formControlName="password" [name]="'floating_'+'password'" [id]="'floating_'+'password'"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer"
                placeholder=" " required />
            <label [class.!text-red-700]="passwordController?.touched && passwordController?.errors" aria-label="password" [for]="'floating_'+'password'"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                <span class="capitalize">Password :</span></label>
        </div>
        @if(passwordController?.touched && passwordController?.errors){
        <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
            role="alert">
            @if(passwordController?.getError('required')){
            <p>Password is required</p>
            }
            @if(passwordController?.getError('pattern')){
            <p>password must be at least 6 charcters long & Least 1 upperrcase Letter </p>
            }
        </div>
        }
        <!-- repassword -->
        <div class="relative z-0 w-full mb-5 group">
            <input  [class.!border-b-red-700]="rePasswordController?.touched && (rePasswordController?.errors||registerForm.getError('noMatch'))" title="repassword" type="password" formControlName="rePassword" [name]="'floating_'+'repassword'" [id]="'floating_'+'repassword'"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer"
                placeholder=" " required />
            <label [class.!text-red-700]="rePasswordController?.touched && (rePasswordController?.errors||registerForm.getError('noMatch'))" aria-label="repassword" [for]="'floating_'+'repassword'"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                <span class="capitalize">Repassword</span></label>
        </div>
        @if(rePasswordController?.touched && (rePasswordController?.errors||registerForm.getError('noMatch'))){
        <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
            role="alert">
            @if(rePasswordController?.getError('required')){
            <p>Repassword is required</p>
            }
            @if(registerForm.getError('noMatch')){
            <p>Repassword Do Not Match Password </p>
            }
        </div>
        }
        <!-- phone -->
        <div class="relative z-0 w-full mb-5 group">
            <input  [class.!border-b-red-700]="phoneController?.touched && phoneController?.errors" title="phone" type="tel" formControlName="phone" [name]="'floating_'+'phone'" [id]="'floating_'+'phone'"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer"
                placeholder=" " required />
            <label [class.!text-red-700]="phoneController?.touched && phoneController?.errors" aria-label="phone" [for]="'floating_'+'phone'"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                <span class="capitalize">Phone</span></label>
        </div>
        @if(phoneController?.touched && phoneController?.errors){
        <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
            role="alert">
            @if(phoneController?.getError('required')){
            <p>phone is required</p>
            }
            @if(phoneController?.getError('pattern')){
            <p>Phone Number Must Be Valid </p>
            }
        </div>
        }

        <button  type="submit"
        [disabled]="IsLoading"
            class="font-thin text-lg text-white bg-green-700 disabled:opacity-35 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">@if (IsLoading) {
                Loading....
            }@else {
            Register Form
        }</button>
    </form>

</div>