
<owl-carousel-o [options]="customOptions" class="relative mb-4">
  @for (catogery of catogries; track catogery._id) {
  <ng-template carouselSlide [id]="catogery._id">
    <div
      class="group relative overflow-hidden rounded-2xl shadow-lg transition-transform duration-500 hover:scale-[1.03] hover:shadow-2xl">
      <!-- todo   background -->
      <img alt [src]="catogery.image" [alt]="catogery.name" [title]="catogery.slug"
        class="h-60 w-full object-cover object-top transition-transform duration-700 group-hover:scale-110" />

      <!--  todo overlay gradient -->
      <div
        class="absolute inset-0 bg-gradient-to-t from-black/70 via-black/30 to-transparent opacity-80 transition-opacity duration-500 group-hover:opacity-90">
      </div>

      <!--todo  text-->
      <div
        class="absolute bottom-0 left-0 right-0 p-4 text-white text-center translate-y-2 group-hover:translate-y-0 transition-all duration-500">
        <h3 class="text-lg font-semibold tracking-wide drop-shadow-md">{{ catogery.name }}</h3>
        <p class="text-sm text-gray-200 opacity-80">{{ catogery.slug }}</p>
      </div>

      <!-- spark when go left or right-->
      <div
        class="absolute top-0 left-[-75%] w-1/2 h-full bg-gradient-to-r from-transparent via-white/20 to-transparent transform skew-x-[-25deg] transition-all duration-700 group-hover:left-[125%]">
      </div>
    </div>
  </ng-template>
  }
</owl-carousel-o>


<div class="grid grid-cols-1  sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-6 gap-y-8 mt-9  ">

  <!-- todo    is loading -->
  @if(isloading)
  {
  <!-- Skeleton loading -->
  @for (item of [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]; track $index) {
  <div>
    <div class="h-80 animate-pulse rounded bg-gray-400"></div>
    <div class="h-6 mt-2 animate-pulse rounded w-20 bg-gray-400"></div>
    <div class="h-3 mt-2 animate-pulse rounded w-40 bg-gray-400"></div>
    <div class="h-3 mt-2 animate-pulse rounded w-24 bg-gray-400"></div>
  </div>
  }
  }
  @else
  {
  <!-- Products -->
  @for(product of products; track $index){
  <app-porduct-card [product]="product"></app-porduct-card>
  }
  }

</div>