@import "tailwindcss";
@import "flowbite/src/themes/default";
// todo import custom styles below
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

body {
    font-family: theme('fontFamily.sans');
    
}

@source "../node_modules/flowbite";
// todo import flowbite styles
@import "flowbite/src/themes/default";

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}